/*global*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    text-align: center;
}

h1{
    font-family:fantasy;
    color: blue;
}

p{
    font-size: 1.2rem;
}


ul{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.container{
    border: 2px solid black;
}


/*header*/

header{
    background-color: black;
}

.nav-list{
    padding: 2px;
    color: red;
    background-color: white;
    border: 2px solid black;
}

/*main */

form{
    background-color: whitesmoke;
    border: 1px solid black;
}

.back-link{
    color: white;
    background-color: black;
    border: azure 1px solid;
    padding: 2px;
    margin-bottom: 5px;
}

/*footer*/

footer {
    background-color: black;
    color: white;
}

.list-style{
    list-style: square;
}




