/*global*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    text-align: center;
}

h1{
    font-family:fantasy;
    color: blue;
}



ul{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
}

header{
    background-color: black;
}

/*header*/




.nav-list{
    padding: 2px;
    color: red;
    background-color: white;
    border: 2px solid black;
}

/*main */

footer {
    background-color: black;
    color: white;
}




