*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

ul{
    list-style: none;
    text-decoration: none;
}

a{
    text-decoration: none;
    font-family: initial;
}

h1{
    font-family: fantasy;
    color: white;
    font-size: 60px;
    text-shadow: 0px 0px 30px red;
}

h2{
    text-align: center;
    font-family: initial;
}

p{
    font-size: 1.2rem;
    font-family: initial;
}

.container{
    border: 2px solid black;
}

$bg-h-f:black;