.back-link{
    color: white;
    background-color: black;
    border: 1px solid azure ;
    padding: 2px;
    margin-bottom: 5px;
    a{
        color: white;
    }
}

.back-link:hover{
    font-size: 1.2rem;
}