footer {
    background-color: $bg-h-f;
    color: white;

    ul {
        list-style: square;

    }
}

.final-list {

    a {
        color: red;
        font-family: cursive;

    }
}

.final-list:hover {
    a {
        color: white;
    }
}