footer {
    background-color: $bg-h-f;
    color: #ffffff;

    ul {
        list-style: square;

    }
}

.final-list {

    a {
        color: #ff0000;
        font-family: cursive;
        font-size: 1rem;

    }
}

.final-list:hover {
    a {
        color: #ffffff;
    }
}