footer{
    background-color: $bg-h-f;
    color: white;

    ul{
        list-style: square;
        color: white
    }
}

.final-list{
    color: blue;
}

.final-list:hover{
    a{
        color: red;
    }
}